[project]
name = "argentinc"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14.2"
dependencies = []

[dependency-groups]
dev = ["pytest>=9.0.2", "ruff>=0.14.14", "ipykernel>=7.1.0"]
